
.card-metric{
    background:#FFFFFF;
    border-radius:18px;
    padding:24px;
    transition:.25s;
    border:1px solid #E5E7EB;
}

.card-metric:hover{
    transform:translateY(-4px);
}

.metric-top{
    display:flex;
    justify-content:space-between;
    margin-bottom:18px;
}

.metric-icon{
    width:52px;
    height:52px;
    border-radius:12px;

    display:flex;
    justify-content:center;
    align-items:center;

    color:#FFF;
    font-size:24px;
}

.card-metric h6{
    color:#64748B;
    margin-bottom:8px;
    font-weight:600;
}

.card-metric h2{
    margin:0;
    color:#0F172A;
    font-weight:700;
}

.card-metric small{
    color:#94A3B8;
}

