.sidebar{

    width:260px;
    min-height:100vh;

    background:#1F2937;

    color:white;

    display:flex;

    flex-direction:column;

    padding:25px;

}

.logo{

    text-align:center;

    margin-bottom:40px;

    font-weight:bold;

}

.sidebar a{

    color:white;

    text-decoration:none;

    padding:12px;

    border-radius:8px;

    display:flex;

    gap:12px;

    margin-bottom:10px;

    transition:.3s;

}

.sidebar a:hover{

    background:#374151;

}

.sidebar .active{

    background:#2563EB;

}